<h2 mat-dialog-title>Update entry</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field class="enw-entry-field">
        <input matInput placeholder="Entry description" formControlName="description">
    </mat-form-field>
    <br>
    <mat-form-field class="enw-entry-field">
        <mat-select placeholder="Entry type" formControlName="isExpense">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.display}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="enw-entry-field">
      <input matInput placeholder="Entry value" formControlName="value">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
