<mat-card>
  <span>Create new entry</span>
  <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="enw-entry-field">
        <input matInput placeholder="Entry description" formControlName="description">
    </mat-form-field>
    <mat-form-field class="enw-entry-field">
        <mat-select placeholder="Entry type" formControlName="isExpense">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.display}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="enw-entry-field">
      <input matInput placeholder="Entry value" formControlName="value">
    </mat-form-field>

    <button mat-raised-button [disabled]="!entryForm.valid">Create new</button>

  </form>
</mat-card>